/** FONT **/

@font-face {
    font-family: Righteous;
    src: url(/web2-frontend-gregoryvettorel2/docs/css/font/Righteous-Regular.ttf);

    font-family: Roboto-Regular;
    src: url(/web2-frontend-gregoryvettorel2/docs/css/font/Roboto-Regular.ttf)
  }

/** NAV **/

body {
    background-color: white;
    margin: 0;
    margin-left:auto;
    margin-right:auto;
}

#header {
    height: 70px;
    background-color: white;
    border-bottom: 5px solid blue;
}

.header-content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.header-title {
    color: blue;
    float: left;
    font-family: Righteous;
}

.header-links {
    float: right;
    text-align: center;
    padding-right: 2%;
    padding-top: 1%;
    font-family: Roboto-Regular;
}

.header-link {
    float: left;
    padding-right: 50px;
}

.searchBarNav {
    float: right;
    width: 200px;
    height: 20px;
    margin-top: 22px;
}

.searchBarButton {
    float: right;
    height: 27px;
    width: 60px;
    margin-top: 21px;
    margin-left: 0.5%;
    background-color: blue;
    color: white;
    border-style: none;
}


/** BODY  **/


/** BODY TOP 50 TABLE  **/

.top50Table {
    width: 65%;
    margin-left: auto;
    margin-right:auto;
}

.top50Title{
    font-family: Roboto-Regular;
    color:black;
    font-size: 160%;
    float:left;

}

.table-titles {
    font-family: Roboto-Regular;
}

#gainersAndLosers {
    float: right;
    padding-right: 7%;
    font-family: Roboto-Regular;
}

#gainers {
float: left;
}

#losers {
float: left;
}

.crypto-table {
    border-collapse: separate;
    border-spacing: 0 1em;
    padding: 10px;
    width: 90%;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }
    tbody tr {
      background: #fff;
      -webkit-box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
      box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
      height: 50px;
    }
  
    td > * {
        vertical-align: middle;
      }

    td img {
        width: 25px;
        height: 25px;
    }


/** BODY   TOP 4 CHANGES **/

#topChangeDiv {
        width: 100%;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 5%;
}

.topChangeTitle {
    padding-bottom:1%;
    width: 65%;
    margin-left: auto;
    margin-right:auto;
    font-size: 160%;
    margin-top: 2%;
    font-family: Roboto-Regular;
}
       
.box1 {
        width: 300px;
        height: 120px;
        display: inline-block;
        margin-left: 1%;
        margin-right: 1%;
        box-shadow: -1px 1px 12px 1px #454545;
    }

.topChangeImage {
    width: 60px;
    float:left;
    padding-left: 5%;
    padding-top: 5%;
}

.topChangeName {
    font-weight: 200;
}

.topChangePrice {

}

.topChangeChange {

}

/** FOOTER */

#footer {
    width: 100%;
    height: 80px;
    border-top: 5px solid blue;
    background-color: white;
    margin-top: 4%;
  }

.logoFooter {
height: 80px;
float: right;
padding-right: 50px;
}

.nameFooter{
    float:left;
    padding-left: 50px;
    padding-top: 15px;
    font-size: large;
}