body {
    font-family: Roboto-Regular;
}

.formForData {
    margin-top: 2%;
    width: 30%;
    border-radius: 5px;
    float: left;
    margin-left: -5%;
}

#headerTitlePortfolio{
    width: 60%;
    margin-left: -3%;
    font-size:x-large;
    font-family: Roboto-Regular;
    margin-top: 2%;
    float: left;
}

label {
    width: 100%;
    float: left;
    font-family: Roboto-Regular;
}

#name {
    width: 250px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid blue;
}

#symbol {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid blue;
}

#quantity {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid blue;
}

#price {
    width: 200px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid blue;
}

#submit {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid blue;
}

.changeOverview {
    width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    float: right;
    margin-right: 22%;
    margin-top: 7%;
    text-align: center;
    
}

.changeTitle {
    padding: 5%;
    font-family: Roboto-Regular;
}

#divForDataPortfolio{
    margin-top: 5%;
}